:root {
  --main-font: 'Roboto', sans-serif;
  --secondth-font: 'Raleway', sans-serif;
  --main-text-color: #434455;
  --secondth-text-color: #2e2f42;
  --thirdth-text-color: #ffffff;
  --fourth-text-color: #4d5ae5;
  --fifth-text-color: #f4f4fd;
  --sixth-text-color: #404bbf;
  --seventh-text-color: #8e8f99;
  --main-background: #ffffff;
  --secondth-background: #2e2f42;
  --thirdth-background: #4d5ae5;
  --fourth-background: #404bbf;
  --sixth-background: #31d0aa;
  --seventh-background: #f4f4fd;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* BODY */
body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-background);
}
/* ================= HEADER ================= */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
  color: #404bbf;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.logo-link {
  font-family: var(--secondth-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--sixth-text-color);
  text-transform: uppercase;
}

.logo-heater {
  color: var(--secondth-text-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item:not(:last-child) {
  margin-right: 0;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondth-text-color);
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 24px 0;
  transition: color var(--transition-duration-and-func);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--fourth-background);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.current {
  display: block;
  color: var(--sixth-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--sixth-text-color);
}

.menu-link.current {
  color: var(--sixth-text-color);
}

.contact {
  margin-left: auto;
}

.contact-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact__item:not(:last-child) {
  margin-right: 40px;
}

.contact-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  font-style: normal;
  text-decoration: none;
  transition: color var(--transition-duration-and-func);
}

.contact-list:hover,
.contact-list:focus {
  color: var(--sixth-text-color);
}

/* ================= /HEADER  ================= */

/* =================  MAIN  ================= */

/*  ================= HERO  ================= */
.hero {
  padding: 188px 0;
  text-align: center;
}

.background {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--thirdth-text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--thirdth-text-color);
  background-color: var(--thirdth-background);
  cursor: pointer;
  display: flex;
  min-width: 169px;
  height: 56px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration-and-func);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--fourth-background);
}
/*  ================= /HERO  ================= */

/*  ================= ABOUT  ================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.about-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 264px;
  height: 112px;
  background-color: var(--seventh-background);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondth-text-color);
  margin-bottom: 8px;
}

.about-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/*  ================= /ABOUT  ================= */

/* ================= TEAM  ================= */
.team {
  padding: 120px 0;
  background-color: var(--seventh-background);
}

.team-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondth-text-color);
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  background-color: var(--main-background);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
  width: 100%;
  height: auto;
}

.team-subscription {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondth-text-color);
  margin-bottom: 8px;
}

.team-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--fifth-text-color);
  background-color: var(--thirdth-background);
  border: none;
  transition: background-color var(--transition-duration-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--fourth-background);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #f4f4fd;
}

.social-list-icon {
  fill: #f4f4fd;
}
/* ================= /TEAM  ================= */

/* ============ PORTFOLIO ============ */
.portfolio {
  padding: 120px 0;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-cards {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-cards:hover .overlay,
.portfolio-cards:focus .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--fifth-text-color);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subscription {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondth-text-color);
  margin-bottom: 8px;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

/* ============ /PORTFOLIO ============ */

/*  ================= /MAIN  ================= */

/*  ================= FOOTER  ================= */
.footer {
  padding: 100px 0;
  background-color: var(--secondth-background);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-right: 120px;
}

.logo-footer {
  color: var(--fifth-text-color);
}

.logo-footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fifth-text-color);
}

.footer-social-container {
  margin-top: 12px;
}

.footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--thirdth-text-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--thirdth-text-color);
  background-color: var(--thirdth-background);
  transition: background-color var(--transition-duration-and-func);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--sixth-background);
}

.footer-social-list-icon {
  fill: #f4f4fd;
}

.footer-newsletter {
  margin-left: auto;
}

.footer-newsletter-pharagraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--thirdth-text-color);
  margin-bottom: 16px;
}

.newsletter-form {
  display: flex;
  justify-content: baseline;
  gap: 24px;
}

.newsletter-form-item {
  display: flex;
  justify-content: baseline;
  gap: 24px;
}

.newsletter-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding-left: 16px;
}

.newsletter-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--thirdth-text-color);
  background-color: var(--secondth-background);
}

.newsletter-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 8px;
  min-width: 165px;
  height: 40px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--thirdth-text-color);
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
}

.newsletter-form-btn-icon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background-color: #4d5ae5;
}

/*  ================= /FOOTER  ================= */

/*  ================= MODAL WINDOW  =================*/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform var(--transition-duration-and-func);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 24px;
  height: 24px;

  padding: 0;
  fill: #404bbf;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: var(--fourth-background);
  border: none;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondth-text-color);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--seventh-text-color);
  margin-bottom: 4px;
}

.input {
  position: relative;
}

.input-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--secondth-text-color);
  transition: border-color var(--transition-duration-and-func);
}

.input-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: block;
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  background-color: var(--main-background);
  transition: fill var(--transition-duration-and-func);
}

.input-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-comment-msg {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-msg:focus {
  border-color: #4d5ae5;
}

.modal-comment-msg::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-agreement {
  margin-bottom: 24px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

input[type='checkbox']:checked + label .checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-icon {
  opacity: 0;
  transition: opacity var(--transition-duration-and-func, 250ms);
}

input[type='checkbox']:checked + label .checkbox-icon {
  opacity: 1;
}

.user-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--seventh-text-color);
}

.user-agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  color: var(--thirdth-text-color);
  background-color: var(--thirdth-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-duration-and-func);
  margin: auto;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--fourth-background);
}

/* /BODY */
